In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("tree.csv")

In [9]:
df["count"] = 1
df = df.groupby(["name","parent"]).sum()

              count
name  parent
1     163         2
2     163         1
3     163         1
4     107         1
5     106         1
...             ...
12092 8043        3
12094 8053        3
12095 10757       3
12100 138         1
12101 138         2

[1460 rows x 1 columns]

In [10]:
df.to_csv("newtree.csv")